@import "tailwindcss";

@theme {
  /* These are the CSS variables from Next.js fonts */
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --Segment:#C6F1AC;
  --LG1:#40FF00;
  --LG2:#031A00;
}

/* Define custom utilities */
@utility font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@utility font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@utility animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}